<div class="container">
    <h1>Registro Usuario</h1>
    <svg class="login-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
        <path id="Icon_awesome-user-circle" data-name="Icon awesome-user-circle" d="M62,2a62,62,0,1,0,62,62A61.989,61.989,0,0,0,62,2Zm0,24A22,22,0,1,1,40,48,22,22,0,0,1,62,26Zm0,86A47.907,47.907,0,0,1,25.375,94.95,27.873,27.873,0,0,1,50,80a6.117,6.117,0,0,1,1.775.275A33.1,33.1,0,0,0,62,82a32.975,32.975,0,0,0,10.225-1.725A6.117,6.117,0,0,1,74,80,27.873,27.873,0,0,1,98.625,94.95,47.907,47.907,0,0,1,62,112Z" transform="translate(0 -2)" fill="#757575"/>
    </svg>
    <div class="data">
        <div class="data__input">
            <input [(ngModel)]="usuario.nombre" type="text" placeholder="Nombre de usuario o correo electrónico">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path id="Icon_awesome-user-alt" data-name="Icon awesome-user-alt" d="M10,11.25A5.625,5.625,0,1,0,4.375,5.625,5.626,5.626,0,0,0,10,11.25Zm5,1.25H12.848a6.8,6.8,0,0,1-5.7,0H5a5,5,0,0,0-5,5v.625A1.875,1.875,0,0,0,1.875,20h16.25A1.875,1.875,0,0,0,20,18.125V17.5A5,5,0,0,0,15,12.5Z" fill="rgba(132,132,132,0.6)"/>
            </svg>              
        </div>
        <div class="data__input">
            <input [(ngModel)]="usuario.password" type="password" placeholder="Contraseña">
        </div>
    </div>
    <div class="buttons">
        <span class="login-button__base">
            <a class="login-button__content" (click)="registrar()">
                <svg class="login-button__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 21">
                    <path id="Icon_open-account-login" data-name="Icon open-account-login" d="M9,0V3H21V18H9v3H24V0Zm3,6V9H0v3H12v3l6-4.5Z" fill="rgba(72,72,72,0.6)"/>
                </svg>
                <p class="login-button__text" >Registrar</p>
            </a>
        </span>
    </div>
      
</div>