<div class="nueva_tarea">
    <app-nueva-tarea></app-nueva-tarea>
</div>
<div class="listaTareas">
    <h2>Lista de Tareas</h2>
    <ul>
        <li >
            <p>Tarea </p>
            <button mat-stroked-button color="primary">Ver</button>
            <button mat-stroked-button color="secondary">Editar</button>
            <button mat-stroked-button color="warn" (click)="eliminar()">Eliminar</button>
        </li>
        <li >
            <p>Tarea </p>
            <button mat-stroked-button color="primary">Ver</button>
            <button mat-stroked-button color="secondary">Editar</button>
            <button mat-stroked-button color="warn" (click)="eliminar()">Eliminar</button>
        </li>
        <li >
            <p>Tarea </p>
            <button mat-stroked-button color="primary">Ver</button>
            <button mat-stroked-button color="secondary">Editar</button>
            <button mat-stroked-button color="warn" (click)="eliminar()">Eliminar</button>
        </li>
        <li >
            <p>Tarea </p>
            <button mat-stroked-button color="primary">Ver</button>
            <button mat-stroked-button color="secondary">Editar</button>
            <button mat-stroked-button color="warn" (click)="eliminar()">Eliminar</button>
        </li>
        
    </ul>
</div>