<div class="container">
    <div class="nueva_tarea">
        <app-nueva-tarea></app-nueva-tarea>
    </div>
    <div class="listaTareas">
        <h2>Lista de Tareas</h2>
        <table>
            <thead>
                <tr>
                    <td>Tarea (Descripción)</td>
                    <td>Otro</td>
                    <td>Gestión de tareas</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                    <td>
                        <button mat-stroked-button color="primary">Ver</button>
                        <button mat-stroked-button color="secondary">Editar</button>
                        <button mat-stroked-button color="warn" (click)="eliminar()">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>