.button-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding-top: .25em;
    padding-bottom: .25em;
}

.button{
    display: flex;
    align-items: center;
    width: 80%;
    height: 1.5em;
    padding: .1em .5em;
    margin: .25em auto;
    border: 1.8px dashed #707070;
    border-radius: .4em;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}