.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    margin-top: .25em;
    margin-left: .25em;
    margin-bottom: .25em;
    display: block;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    width: 80%;
    height: 1.5em;
    padding: .1em .5em;
    margin: .25em auto;
    border: 1.8px dashed #707070;
    border-radius: .4em;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}