<div class="category">
    <div class="category__actions">
        <button mat-icon-button color="primary" (click)="gestionar()"><mat-icon>settings</mat-icon></button>
        <button mat-icon-button color="primary"  (click)="agregar()"><mat-icon>note_add</mat-icon></button>
    </div>
    <div class="category__list" *ngFor="let i of list">
        <a routerLink="categoria/{{i.id}}" class="category__button">{{i.categoria}}</a>
        <!-- <button  class="category__delete" mat-stroked-button color="primary" (click)="eliminar(i)">Del</button> -->
        <button *ngIf="isManaging" mat-icon-button color="warn" (click)="eliminar(i)"><mat-icon>delete</mat-icon></button>
    </div>
</div>