a:active {
  color: crimson;
}

:link {
  color: #707070;
}

:visited {
  color: inherit;
}

* {
  color: #72767D;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d2026;
  width: 100vw;
  height: 100vh;
}

h1 {
  display: block;
  margin-top: 2.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #B9BBBE;
  text-transform: uppercase;
}

.login-image {
  height: 20%;
  width: 20%;
  margin-top: 2em;
  margin-bottom: 1.5em;
  color: #F2F2F2;
}

.data {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.data__register {
  padding: 5px;
  color: #4A418C;
  text-decoration: none;
  border: 1px dashed #4A418C;
  border-radius: 10%;
}

.data__input {
  width: 20.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .5em;
  padding-top: .4em;
  padding-bottom: .4em;
  margin: .5em;
  border: 1.5px solid #606060;
  border-radius: 1.5em;
}

.data__input input {
  border: none;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  background-color: inherit;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.text {
  margin-top: 2.2em;
  margin-bottom: 1em;
}

.text p {
  font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
}

.text p span {
  display: block;
  margin: .7em;
}

.buttons {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-button__base {
  width: 15%;
  height: 60%;
  margin-bottom: 1rem;
  border: 1px solid #4A418C;
}

.login-button__base:hover {
  cursor: pointer;
  background-color: #4A418C;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.login-button__base:hover:hover .login-button__text {
  color: #F2F2F2;
}

.login-button__base:hover:hover .login-button__image {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(104%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(104%) contrast(101%);
}

.login-button__base:not(:hover) {
  -webkit-transition: .5s;
  transition: .5s;
}

.login-button__content {
  width: 100%;
  height: 100%;
  padding-left: .25em;
  padding-right: .25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.login-button__image {
  width: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.login-button__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  padding-left: 20%;
  color: #B9BBBE;
}
/*# sourceMappingURL=login.component.css.map */